.container {
    margin-left: 0px;
    grid-template-rows: [row1-start] 25px [row1-end row2-start] 25px [row2-end];
    grid-template-columns: auto 50px auto;
}

.menu {
    justify-content: start !important;
    justify-self: start !important;
}

.content {
    grid-area: 3 / col1-start / last-line / 6;
    margin: 0px;
}

mat-grid-tile {
    border-radius: 10px;
}