:host {
    flex: 1 auto;
    height: 100%;
    display: flex;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: auto 200px;
    
    .content {
        background-color: grey;
        color: black;

    }
    .asside {
        background-color: black;
    }
}